torch
xformers==0.0.26.post1
torchvision
absl-py
tensorboard
lpips
kornia
opencv-python
ffmpeg
einops
beartype
imageio[ffmpeg]
blobfile
ninja
pyspng
psutil
mrcfile
lmdb
webdataset
point_cloud_utils
kiui
plyfile
open_clip_torch==2.24.0
openai-clip
timm
matplotlib
torchtyping
omegaconf
pytorch_lightning
lz4
xatlas
open3d
trimesh
huggingface_hub
safetensors
PyMCubes
vision-aided-loss
transformers
torchdiffeq
torchmetrics
imath
OpenEXR
onnxscript
tritonclient
gradio==4.43.0
rembg
onnxruntime
git+https://github.com/facebookresearch/pytorch3d.git@stable
git+https://github.com/hbb1/diff-surfel-rasterization.git
git+https://gitlab.inria.fr/bkerbl/simple-knn.git